<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://theantiquisnetwork.com/web_test/src/css/style.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Antiquisnet</title>
  </head>

  <body>
    <div class="container-fluid sticky-top m-0 p-0">
      <!--Brand-->
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">
          <img src="../images/lgo3.png" width="80" />
        </a>
        <!--Toggler Button-->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">How it Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="views/register.html">Login</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Signup</a></li>
          </ul>
        </div>
      </nav>

      <!-- whole login/register container -->
      <div class="container bg-dark">
          <div class="row align-items-center justify-content-center">
              <div class="col-8 bg-light ">  <ul class="nav nav-tabs">
                
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a
                                class="nav-link active"
                                id="home-tab"
                                data-toggle="tab"
                                href="#login"
                                role="tab"
                                aria-controls="home"
                                aria-selected="true"
                                >Employee</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                id="profile-tab"
                                data-toggle="tab"
                                href="#register"
                                role="tab"
                                aria-controls="profile"
                                aria-selected="false"
                                >Hirer</a
                              >
                            </li>
                          </ul>
                
                <!-- <ul class="nav nav-pills">
                    <li class="active"><a data-toggle="pill" href="#login">Login</a></li>
                    <li><a data-toggle="pill" href="#register">Register</a></li>
                  </ul> -->

                  <div class="tab-content">
                        <div id="login" class="tab-pane fade in active">
                          <h3>login</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div id="register" class="tab-pane fade">
                          <h3>Register</h3>
                          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
    
                      </div>
                    </div>
          </div>
          <!--Form section -->
          <!-- <div class="row align-items-center justify-content-center">
                <div class="col-8 bg-dark formItems">
                    <div class="row align-items-center justify-content-center bg-dark formItems">1
    

                </div>
            </div>
      </div> -->

      
      
    <!-- We will put our React component inside this div. -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
